# Version 1.0.0
# =======================================================
# Ignore Editor-files and other basic stuff
# =======================================================
.DS_Store
node_modules
bower_components

.vagrant
*.box
*.log

/.build
/.buildpath
/.idea
/.settings
/.project

/www/5.6/*
!/www/5.6/public_html/.gitkeep
/www/7.0/*
!/www/7.0/public_html/.gitkeep
/www/7.2/*
!/www/7.2/public_html/.gitkeep
