# Version 1.0.0
# =======================================================
# Ignore Editor-files and other basic stuff
# =======================================================
.DS_Store
node_modules
bower_components

.vagrant
*.box
*.log
*.dpkg
*.dpkg-new

/.build
/.buildpath
/.idea
/.settings
/.project

/vagrant/configuration/sites-available
!/vagrant/configuration/sites-available/000-default.conf

php5.6-fpm.conf
php7.0-fpm.conf
php7.2-fpm.conf

/www/*
!/www/default

